* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Sansita Swashed', cursive;
}

body {
    margin: 0;
    /* background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%); */
    background: rgb(3, 246, 19);
    background: linear-gradient(
      5deg,
      rgba(113, 246, 19, 1) 27%,
      rgba(0, 212, 255, 1) 100%,
      rgba(47, 47, 47, 1) 10%
    );
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center; /*Trabaja en el eje x, por lo tanto "center" centra en el eje-x*/
    align-items: center;/*Trabaja en el eje y, por lo tanto "center" centra en el eje-y*/
}
.title {
    border-left:#1E90FF solid 4px;
    padding-left: 5px;
    padding-top:5px ;
    letter-spacing: 1.25px;
}
.section {
    background-color: #fff;
    width: 25%;
    height: 60%;
}
.inside-section {
    display: flex;
    flex-flow: column;
    gap: 25px;
    margin: 10% 10%;
    
}
input {
    border:1.5px black solid;
    border-radius: 0.5em;

}
.btn {
    background-color: #1E90FF;
    color: #fff;
    width: 40%;
        
    line-height:22px;
    border-radius: 0.5em;
    border:0px ;
    cursor: pointer;
}

